.heroSection {
  padding-inline: 0 !important;
  height: fit-content;
  position: relative;
}

.heroSection section {
  padding-inline: 0 !important;
}

.dao.heroSection,
.minting .heroSection {
  height: 100vh !important;
}

.dao .heroContainer,
.minting .heroContainer {
  /* padding-block: 273px 100px; */
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newProposalPage .heroContainer{
  padding-block: 0 !important;
  padding-inline: 0 !important;
}

/* .dao.heroContainer,
.minting .heroContainer {
  padding-block: 280px 100px;
} */

.connectBtn button {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  ) !important;
  transition: all 0.5s ease;
  height: 46px !important;
  width: 180px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px !important;
}

.connectBtn button:hover {
  background: linear-gradient(
    200deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  ) !important;
}

.newProposalPage button:disabled {
  background: #1f2937 !important;
}

.heroContainer {
  padding-block: 150px 100px;
  padding-inline: 2rem !important;
  display: grid;
  text-align: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.heroContainer .topText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.bg img {
  height: 50px !important;
  object-position: center;
  object-fit: cover;
  width: 100% !important;
  position: fixed !important;
  bottom: 0 !important;
  transform: perspective(17px) scale3d(1, 1, 0.5) translateY(78px);
}

.heroTitle {
  letter-spacing: -2px;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.25;
}

.memberText {
  text-align: center;
  width: fit-content;
}

.leftCol,
.voting {
  display: flex;
  align-items: flex-start;
}

.voting {
  flex-direction: column;
  gap: 2.5rem;
}

.leftCol div {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.proposalDetailsPage .description,
.description article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.proposalDetailsPage a,
.proposalDetailsPage p {
  align-self: flex-start;
}

.creatorDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.creatorDetails div {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  gap: 10px;
}

.creatorDetails div > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

.joinBtn,
.membership .connectBtn button {
  width: fit-content;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  /* margin-inline: auto; */
  min-width: 120px;
  background: #454fda !important;
  border-radius: 8px !important;
  color: var(--white);
  padding-inline: 22px;
  height: 46px;
  font-size: 18px;
}

.joinBtn:hover .membership .connectBtn button:hover {
  filter: brightness(80%) !important;
}

.button {
  margin-top: 2rem;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  ) !important;
  /* background-color: #3898FF; */
  border-radius: 40px;
  /* text-align: center; */
  color: var(--menu-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.18px;
  height: 46px !important;
  padding-inline: 14px;
}

.leftCol div:nth-child(1) {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.buttons {
  width: 100%;
  max-width: 350px;
  /* overflow-x: scroll; */
  border-radius: 0 0 0 8px;
  border: 1px solid #363b44;
  border-radius: 9px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px !important;
  /* padding-inline: 0 !important; */
  gap: 1rem;
  /* border-bottom: 1px solid #6b7280; */
}

@media screen and (min-width: 500px) {
  /* .buttons {
    max-width: 100%;
  } */

  /* .buttons button,
  .buttons span {
    max-width: 160px !important;
  } */
}

.buttons button,
.buttons span {
  padding: 10px;
  width: 100%;
  min-width: fit-content;
  max-width: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  /* border-radius: 0 !important; */
}

.activeBtn,
.buttons button:hover,
.buttons span:hover {
  background-color: #454fda !important;
}

.proposals {
  padding-inline: 0 !important;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
  margin-top: 41px;
}

@media screen and (min-width: 800px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

.select {
  width: 120px;
  margin-left: auto;
}

.text {
  font-weight: 500;
  font-size: 18px !important;
  /* line-height: 31px; */
  text-align: left;
  /* padding: 6px 20px; */
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 0;
  color: var(--white);
  /* margin-bottom: 10px; */
}

.filter,
.filter option {
  background: var(--body-bg);
  color: var(--white);
  width: 100px;
  height: 45px;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
}

.addressTokenGroup {
  display: flex;
  align-items: center;
  width: 100%;
  /* max-width: 300px; */
  margin-top: 10px;
}

.div {
  background: rgba(217, 217, 217, 0.02);
  border: 1px solid #374151;
  border-radius: 8px;
}

.div:hover {
  border: 1px solid var(--white);
}

.address {
  width: 55%;
}

.tokenAmt {
  width: 45%;
}

.addressTokenGroup input {
  background-color: transparent;
  color: var(--white);
  outline: none;
  border: none;
  border-left: 1px solid #374151;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #6b7280;
  padding: 12px 14px;
  margin-top: 0 !important;
}

.proposal {
  flex-direction: column;
  align-items: start;
  gap: 12px;
  width: 100%;
  max-width: 100%;
  padding: 16px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.topContent {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topContent div {
  align-items: center;
}

.state {
  line-height: 24px;
  padding: 4px 12px;
  border-radius: 14px;
}

.details {
  opacity: 0.8;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .div > div {
  border-top: 1px solid #374151;
  justify-content: space-between;
  padding: 22px 32px;
} */

.proposal,
.topContent,
.topContent div,
.radioBtns,
.voteBtnContainer button {
  display: flex;
}

.div p {
  width: fit-content;
  text-align: left;
  /* padding: 22px 32px; */
}

.voting {
  width: 100%;
}

.voteBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(217, 217, 217, 0.02);
  border-radius: 0px 0px 8px 8px;
  width: 100%;
}

.voteBtnContainer button {
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  background: transparent;
  height: 40px;
  width: 100%;
  border: 1px solid #374151;
}

.voteBtnContainer button:hover {
  border: 1px solid var(--white);
}

.voteContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.votes {
  /* display: grid; */
  width: 100%;
  list-style: none;
}

.votes li {
  border-top: 1px solid #374151;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 10px;
  width: 100%;
  padding: 16px;
}

.voteSelected{
  border: 1px solid var(--white) !important;
}

.radioBtns {
  gap: 12px;
  cursor: pointer;
  color: #f9fafb;
}

.radioBtns input {
  display: none;
}

.circle {
  position: relative;
  height: 20px;
  width: 20px;
  border: 3px solid rgba(168, 24, 186, 0.9);
  /* border-image: linear-gradient(90.72deg, rgba(107, 3, 184, 0.9) 21.79%, rgba(168, 24, 186, 0.9) 54.77%, rgba(226, 43, 187, 0.9) 85.69%); */
  display: inline-block;
  /* right: 125px; */
  border-radius: 50%;
}

.circle:after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.radioBtns input:checked ~ .circle:after {
  opacity: 1;
}

.heroBtn {
  margin-top: 32px;
}

.subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #a2a8fc;
  margin-top: 24px;
}

.button:hover {
  filter: brightness(80%);
}

.button:disabled {
  background: #1f2937;
  pointer-events: none;
}

/* -------------------------------------------------- */
/* create Contract page */

.createContract .heroTitle {
  margin-bottom: 123px;
}

.heroSection label {
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: left;
}

.heroSection input,
.heroSection textarea {
  background: transparent;
  outline: none;
  width: 100%;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 16px;
}

/* TABLET SCREENS */
@media screen and (min-width: 768px) {
  .heroContainer {
    padding-inline: 4rem !important;
  }
  /* 
  .memberText{
    max-width: 200px;
  } */
}
@media screen and (min-width: 1000px) {
  .dao.heroSection,
  .minting .heroSection {
    height: 100vh !important;
  }

  .proposalDetailsPage .grid {
    grid-template-columns: auto 320px;
  }

  .heroTitle,
  .memberText {
    text-align: left;
  }

  .leftCol {
    gap: 4rem;
  }

  .leftCol div:nth-child(1) {
    align-items: flex-start;
  }

  .leftCol div {
    gap: 10px;
  }

  .buttons {
    max-width: unset;
    gap: 6px;
    border-bottom: none;
  }

  .buttons button,
  .buttons span {
    text-align: left;
    padding-left: 20px;
    justify-content: flex-start;
  }

  .voteBtnContainer {
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
  }

  .creatorDetails {
    flex-direction: row;
    align-items: center;
  }

  .address {
    width: unset;
  }

  .tokenAmt {
    width: 147px;
  }

  .address label,
  .address input {
    padding: 12px 32px;
  }
}

@media screen and (min-width: 1300px) {
  /* .buttons {
    flex-direction: column;
  } */

  .activeBtn,
  .buttons button:hover,
  .buttons span:hover {
    border-left: 2px solid var(--white);
    border-bottom: none;
  }
}

@media screen and (min-width: 2200px) {
  .heroContainer {
    max-width: 1900px;
  }
}
