@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  /* colors */
  --body-bg: #090e17;
  --white: #fff;
  --card-bg: #d9d9d908;
  --text-color: #9ca3af;
  --menu-text-color: #f9fafb;
  --card-text-color: #f3f4f6;
  --card-p-color: #e5e7eb;
  --rk-radii-connectButton: 40px !important;

  --padding: 2rem;
  --margin: 3em;
  --section-title-font-size: 2em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.18px;
}

html,
body {
  /* max-width: 100vw; */
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-inline: var(--padding);
  width: 100%;
  /* overflow-x: hidden; */
}

.Toastify__toast-container {
  width: 430px !important;
  z-index: 99999999 !important;
}

@media screen and (min-width: 768px) {
  section {
    --padding: 5rem;
  }
}
@media screen and (min-width: 1000px) {
  section {
    --padding: 6.25rem;
  }
}

/*
.card {
  background-color: var(--card-bg);
  height: fit-content;
  padding: 32px;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
