/* HERO SECTION */
.heroSection {
  position: relative;
  height: 1110px;
  width: 100%;
  padding-inline: 0;
}

.imgOverlay {
  position: absolute;
  top: 917px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #090e17;
  opacity: 0.7;
  filter: blur(25px);
  z-index: 99999;
}

.heroContainer {
  position: absolute;
  top: 0;
  left: 50%;
  padding-block: 225px 110px;
  transform: translateX(-50%);

  width: 100%;
  text-align: center;
  padding-inline: var(--padding);
}

.heroContainer,
.leftCol
/* .poolCard-details .hero-container */ {
  display: grid;
  place-items: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
}

.heroBg {
  overflow-x: hidden;
  height: 463px;
  width: 100%;
  overflow-x: hidden;
  transform: perspective(300px) translate3d(0px, -66px, 42px)
    scale3d(0.86, 0.75, 1) translateY(816px);
}

.heroTitle {
  letter-spacing: -2px;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.25;
}

.text {
  color: #9ca3af;
  font-weight: 400;
  line-height: 1.45;
  font-size: 17px;
}

/* HERO BTN */
.heroBtn {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  border: none;
  width: 285px;
  margin-top: 16px;
  transition: all 0.5s ease;
}

.navBtn:hover,
.heroBtn:hover {
  background: linear-gradient(
    200deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  color: var(--menu-text-color);
}

.heroButtonLink {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 13px;
  padding-block: 13px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

/* SECTION TITLES */
.title {
  font-weight: 400;
  font-size: var(--section-title-font-size);
  line-height: 44px;
  letter-spacing: -1.68px;
  text-align: center;
}
