.heroSection,
.bg {
  height: 1100px !important;
}

.poolCardDetails .heroSection,
.poolCardDetails .bg {
  height: 1344px !important;
}

.heroSection {
  --padding: 0;
}

.heroContainer {
  display: grid;
  justify-items: center;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  gap: 40px;
  width: 90%;
  margin-inline: auto;
}

.leftCol {
  text-align: center;
}

.launchpadImg {
  width: 100%;
}

.bg {
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.buyBtns {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 15px 30px;
  background: rgba(217, 217, 217, 0.03);
  padding: 52px var(--padding);
  width: 100%;
  z-index: 999999;
}

/* .buyBtnsImg {
    width: 100%;
    max-width: 222px;
  } */

/* .buyBtnsDiv {
    display: flex;
    justify-content: center;
    width: 100%;
  } */

.buyBtn {
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  padding: 13px 33px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
  border: 0.5px solid #374151;
}

.buyBtnActive,
.buy-btn:hover {
  border-color: var(--white);
}

/* POOLS */
.pools {
  padding-inline: var(--padding);
}

.poolsBtns {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #374151;
  margin-block: 47px 74.1px;
}

.poolsBtn {
  display: flex;
}

.poolsBtnLink {
  border-top: 1px solid #374151;
  background: transparent;
  color: var(--menu-text-color);
  padding: 13px 50px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.poolsBtnsActiveLink,
.poolsBtnLink:hover {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border: transparent;
  border-bottom: 0;
}

.container {
  display: grid;
  gap: 32px;
  width: 100%;
}

.poolBox {
  width: 100%;
  position: relative;
}

/* BOX DETAILS */
.box {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
}

.boxImg,
.rightCol .boxImg {
  height: 100% !important;
  width: 100%;
}

.fContent {
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 56px;
  padding-inline: 30px;
}

.topContent {
  margin-block: 13px 14px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  gap: 20px;
}

.logo {
  width: 66px !important;
  height: 46px !important;
  min-width: 66px !important;
  min-height: 46px !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  background: rgba(217, 217, 217, 0.03);
  border: 0.961652px solid #374151;
}

.buttons {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 7.69px;
}

.midContent {
  width: 95%;
  margin-left: auto;
}

.midContentText {
  font-size: 14px;
  line-height: 1.7em;
  font-weight: 300;
  font-size: 10.5px;
  line-height: 21px;
  color: #d1d5db;
}

.boxButton {
  text-align: center;
  line-height: 12px;
  background: linear-gradient(
    106.23deg,
    rgba(0, 255, 255, 0.1) 221.75%,
    rgba(98, 209, 255, 0.1) 308.55%
  );
  border: 0.480826px solid #42e8e0;
  border-radius: 30px;
  color: #e5e7eb;
  outline: none;
  font-size: 11px;
  letter-spacing: -0.02em;
  padding: 6.73px 12.5px;
  width: fit-content;
  height: fit-content;
}

.dash {
  border: 1px dashed #00e5ff;
  transform: rotate(-0.17deg);
  margin-block: 32.73px 34.27px;
}

.boxHeading {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #f3f4f6;
  letter-spacing: -0.02em;
}

.allocationGroup {
  margin-top: 17.73px;
}

.allocationGroup,
.percentageBar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.allocationGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 7.87px;
}

.allocationGroupText {
  font-size: 10.5782px;
  line-height: 13px;
  color: var(--card-p-color);
}

.allocationGroupHeading {
  font-size: 14px;
  line-height: 19px;
  color: var(--card-text-color);
}

.allocationGroupHeading,
.allocationGroupText,
.percentageBarHeading,
.percentageBarText,
.viewMoreBtn,
.details h1,
.details h2,
.details p {
  letter-spacing: -0.005em;
}

.percentageBar {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 12px;
}

.bar {
  height: 17px;
}

.percentageBar p {
  color: var(--card-p-color);
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
}

.poolBox a {
  background: #08272f;
  border: 1px solid #2166ae;
  outline: none;
  display: flex;
  max-width: 421px;
  margin-inline: auto;
  justify-content: center;
  padding-block: 13.5px;
  align-items: center;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  margin-top: 16px;
}

.poolBox a:hover {
  border-width: 2px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialIcons img {
  width: 24px !important;
  height: 24px !important;
}

.activeStatus {
  color: #08c5ea !important;
}

.phaseBtns {
  width: 100%;
  justify-content: space-between;
  gap: 0;
}

.phaseBtns button {
  width: 100%;
  background: transparent;
  border: 0.5px solid #00e5ff;
  border-radius: 0px;
  color: #e5e7eb;
  padding: 6.73px 12.5px;
}

.phaseBtns button.active {
  background: #08262e;
}

.poolBox input {
  width: 100%;
  background: transparent;
  border: 1px solid #2166ae;
  margin-top: 4px;
  color: var(--white);
  font-size: 18px;
  padding: 13.5px 2px;
  text-align: center;
}

.poolTokenInformation {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 100%;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.7px solid #374151;
  max-width: 612px;
}

.details h1,
.aboutProject h1 {
  width: fit-content;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.details h1 {
  padding: 28px 32px;
}

.details .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.details .group div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 28px 32px;
  border: 0.7px solid #374151;
}

.group .access,
.group .total-supply {
  border: none !important;
}

.group .token-address {
  padding: 18px 32px !important;
}

.details h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.details p {
  text-align: right;
  word-break: break-all;
}

.details p,
.aboutProject p,
.aboutProject li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d1d5db;
}

.aboutProject {
  margin-block: 100px 97px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutProject ul {
  list-style: none;
}

.aboutProject p,
.aboutProject li {
  line-height: 31px;
  color: var(--text-color);
}

/* @media screen and (max-width: 400px) {
  .poolBox a {
    margin-top: -36px;
  }
} */

/* @media screen and (max-width: 440px) {
  .poolBox a {
    margin-top: -12px;
  }
} */

/* PAGINATION */
.paginationBtns {
  width: 140px;
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 150px;
}

/* disabled state */
.paginationDisabled {
  background: transparent;
}

.paginationBtns a {
  /* padding: 10px 19px; */
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  border: 1px solid #454fda;
  color: var(--menu-text-color);
  transition: all ease 0.3s;
  cursor: pointer;
}

.nextBtn {
  background: #454fda;
}

.paginationBtns a:hover {
  background: #454fda;
}

.paginationActive a {
  background: #454fda;
}

@media screen and (min-width: 400px) {
  .buyBtn {
    font-size: 16px;
  }
}

@media screen and (min-width: 400px) {
  .fContent {
    top: 98px;
    padding-inline: 36px;
  }

  .completed {
    top: 17px;
  }

  .topContent {
    margin-block: 20px 21px;
  }

  .logo {
    height: 56px;
  }

  .dash {
    margin-block: 43.73px 46px;
  }

  .boxButton {
    font-size: 13.33px;
  }

  .boxHeading {
    font-size: 17px;
  }

  .box p,
  .box a {
    font-size: 11.5398px;
  }

  .allocationGroup {
    margin-top: 28px;
  }
}

/* TABLET SCREEN SIZES */
@media screen and (min-width: 768px) {
  .heroSection,
  .bg {
    height: 1244px;
  }

  .heroTitle {
    line-height: 60px !important;
  }

  .buyBtns {
    flex-direction: row;
  }

  .buyBtn {
    font-size: 18px;
    width: fit-content;
  }

  .poolsBtns {
    flex-direction: row;
    border: none;
  }

  .poolsBtns a {
    border: 1px solid #374151;
  }
}

@media screen and (min-width: 1000px) {
  .bar {
    height: 24px;
  }

  .dash {
    margin-block: 43.73px 49.27px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .poolBox a {
    margin-top: -16px;
  }
}

@media screen and (min-width: 1100px) {
  .poolBox a {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1300px) {
  .heroSection,
  .bg,
  .poolCardDetails .heroSection,
.poolCardDetails .bg
   {
    height: 814px !important;
  }

  .heroContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 81px;
  }

  .leftCol {
    place-items: start !important;
    text-align: left;
  }

  .launchpadImg {
    width: 587px;
  }

  .bar {
    height: 17px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .bar {
    height: 24px;
  }
}
