.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.navLogo {
  width: 112.73px !important;
  cursor: pointer;
}

.menu {
  color: var(--menu-text-color);
  display: none;
  list-style: none;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

.active {
  background-color: var(--body-bg);
  padding-top: 16em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  z-index: 999;
  backdrop-filter: blur(2px);
}

.menu a {
  padding-bottom: 7.5px;
  position: relative !important;
}

/* ul a[activeclassname="selected"],
  .menu-item a
  {
    position: relative;
     background-color: #fff; 
  } */

.menuItem a::after,
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0px;
  /* width: 100%; */
  transition: all 0.6s ease;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

.menuItem a:hover::after,
.menuItem a:focus::after,
.menuItem a:active::after {
  width: 100%;
}

/* Nav button */
.navBtns{
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.navBtn ,
.header button{
  margin-top: 2rem;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  ) !important;
  /* background-color: #3898FF; */
  color: var(--menu-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px !important;
  font-family: "Inter", sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.18px;
  height: 46px !important;
  transition: all 0.5s ease;
  width: 180px !important;
  font-size: 16px !important;
  border-radius: 40px !important;
}

.navBtn a{
  padding-bottom: 0;
}

.desktopBtn {
  display: none;
}

/* HAMBURGER ICON */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

.input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

.span {
  background-color: var(--white);
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

.span1 {
  transform-origin: 4px 0px;
}

.span3 {
  transform-origin: bottom right;
  margin-bottom: 0;
}

.checked {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

.checkedSpan1 {
  transform: rotate(45deg) translate(8px);
}

.checkedSpan2 {
  transform: rotate(495deg) translate(4px);
}

.checkedSpan3 {
  transform: rotate(45deg);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header {
    --padding: 2.5rem 4rem;
  }

  /* .navBtn {
    padding: 18px 35px;
    font-size: 18px;
  } */
}

@media screen and (min-width: 1330px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .active {
    padding-top: 0;
    position: unset;
    width: 100%;
    height: unset;
    display: flex;
    flex-direction: row;
  }

  .navBtns{
    flex-direction: row;
  }

  .navBtn {
    /* padding: 14px 35px; */
    /* font-size: 18px; */
    margin-top: 0;
  }

  .desktopBtn {
    display: flex;
  }

  .mobileBtn {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
