.roadmap {
  padding-block: 9.2rem 5.5rem;
  /* padding-inline: var(--padding); */
  background: linear-gradient(360deg, #0f1522 0%, rgba(16, 23, 37, 0) 88.29%);
}

.title {
  /* margin-bottom: 2em; */
  padding-top: 0;
}

.div {
  display: grid;
  gap: 20px;
  font-size: 16px;
}

.phaseNo {
  font-weight: 400;
  line-height: 38px;
  border: 3px solid #454fda;
  /* padding: 14px 10px; */
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* margin-bottom: 61px; */
}

.listItem {
  margin-left: 21px;
  line-height: 26px;
  color: var(--text-color);
}

.text {
  margin-top: 2.5rem;
  color: #a2a8fc;
  font-weight: 500;
}

.cardHeading {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

@media screen and (min-width: 768px) {
  /* .title {
    margin-bottom: 5.625rem;
  } */

  .phaseNo {
    font-size: 30.5455px;
  }
}

@media screen and (min-width: 1000px) {
  .div {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 626px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1300px) {
  .card {
    height: 546px;
  }
}
