.tokenomics {
  /* padding-inline: var(--padding); */
  background: var(--body-bg);
  z-index: 99999;
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #1f2937;
}

.title {
  margin-bottom: 4rem;
  padding-bottom: 0 !important;
  padding-top: 0;
}

.tokenomicsContainer {
  display: grid;
  font-size: 18px;
  gap: 42px 20px;
}

.figure {
  color: var(--text-color);
}

.card {
  width: 100%;
  padding: 16px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: 1.41148px dashed #454fda;
  border-radius: 14.1148px 14.11px 14.11px 14.1148px;
}


@media screen and (min-width: 768px) {
  .card{
    padding: 20px 16px;
  }

  .tokenomicsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .card{
      padding: 30px;
  }
}